On the unit test, and a feature request.

Hello,

I see a nice library out there, I say "hello, nice work".

The test looks broken:

```txt
(rfc-date::unit-test )
Format   | Encoding                                 | Time       | Fail
---------+------------------------------------------+------------+------
RFC822   | Sat, 18 Feb 23 14:13:49 -0100            | 3885722029 | X
RFC850   | Saturday, 18-Feb-23 17:13:49 GMT         | 3885729229 | X
RFC1036  | Sat, 18 Feb 23 14:13:49 -0100            | 3885722029 | X
RFC1123  | Sat, 18 Feb 2023 14:13:49 -0100          | 3885722029 | X
RFC2822  | Sat, 18 Feb 2023 14:13:49 -0100          | 3885722029 | X
RFC3339  | 2023-2-18T14:13:49-01:00                 | 3885722029 | X
ATOM     | 2023-2-18T14:13:49-01:00                 | 3885722029 | X
COOKIE   | Saturday, 18-Feb-2023 17:13:49 GMT       | 3885729229 | X
RSS      | Sat, 18 Feb 2023 14:13:49 -0100          | 3885722029 | X
ISO8601  | 2023-2-18T14:13:49-0100                  | 3885722029 | X
W3C      | 2023-2-18T14:13:49-01:00                 | 3885722029 | X
---------+------------------------------------------+------------+------
```

Milliseconds issue?

Anyways, the list of formats you support is really nice. Did you think on adding a method that takes only one parameter, a string, and encodes with the right format? (maybe only iterating and finding the first that passes?)

Oh, and would you add this lib to Quicklisp and/or Ultralisp? Adding one's libraries on Ultralisp is literally two clics away.

---

SBCL "2.0.1.debian"
re-202106 (Quicklisp)
lexer is cloned.
